<!-- _alert.ejs -->

<div class="bg-<%= type %> text-white px-4 py-2 rounded-md mb-4">
    <%= message %>
        <button type="button" class="ml-2 text-white close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
</div>